

  <div class="card" >
    <div class="card-header">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
           <h1 class="card-title">Listado encuestas nuevas</h1>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
   
        <ng-container matColumnDef="position">
          <th bgcolor= #82E0AA mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.position}}</td>
        </ng-container>
      
        
        <ng-container matColumnDef="name">
          <th bgcolor= #82E0AA mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <th bgcolor= #82E0AA mat-header-cell *matHeaderCellDef>Fecha de publicación</th>
          <td mat-cell *matCellDef="let element">{{element.date}}</td>
        </ng-container>
      
        
        <ng-container matColumnDef="state">
          <th bgcolor= #82E0AA mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{element.state}}</td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
            <th bgcolor= #82E0AA mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <a href="" style="text-decoration: none;">Realizar</a>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
 </div>
 


  
  
  